<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PinstaBoard</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">All Pics</a>
      </li>
      <% if (login) { %>
      <li class="nav-item">
        <a class="nav-link" href="/user/<%= userid %>">My Pics</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Pic
        </a>
        <div class="dropdown-menu bg-faded" id="addimage" aria-labelledby="navbarDropdownMenuLink">
           <form action="/addimage" method="post">
                <div class="form-group">
                  <input type="name" class="form-control" id="inputName1" placeholder="Image URL" name="imageurl">
                </div>
                <div class="form-group">
                  <input type="name" class="form-control" id="inputURL" placeholder="Description" name="description">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Post the pic!</button>
            </form>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/auth/twitter">Login With Twitter</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>